{% extends 'base.html.twig' %}

{% block body %}

    {% for projet in projets %}
        {{ projet.id }}<br>
        {{ projet.nomProjet}}<br>
        {{ projet.dateDebut|date('d/m/Y') }}<br>
        {{ projet.dateButoir|date('d/m/Y') }}<br>



        <a href="{{ path('detailsprojet-projet', {id:projet.id}) }}"> Détails</a><br><br>
    {% endfor %}


{% endblock %}